.container {
  border-radius: 6px;
  padding: 9px 17px;
  justify-content: center;
  align-items: center;
  height: 48px;
  &.primary {
    background: var(--gray-600, #4b5563);
  }

  &.secondary {
    background: var(--indigo-500, #6366f1);
  }
}
